<style media="screen">
    div.wrapper-main-top-menu{
        background-color: rgb(255, 64, 115) !important;
        margin-top:0px !important;
        padding:8px 0px;
    }
    div.main-top-menu{
        border:0px !important;
    }
    div.main-top-menu .toc.item{
        display: none !important;
    }
    div.main-top-menu.ui.secondary.inverted.menu a.item.title{
        font-weight: bold !important;
        color:#fff !important;
        font-family:"Nanum Gothic";
    }

</style>

<div class='ui wrapper-main-top-menu'>
    <div class='ui container'>
        <div class="ui large secondary inverted pointing menu main-top-menu center aligned">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a href="" class='item title'>뚝심코딩</a>
            <!-- <a class="item title">뚝심코딩</a>
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a> -->
            <!-- <div class="right item">
                <a class="ui inverted button">Log in</a>
                <a class="ui inverted button">Sign Up</a>
            </div> -->
        </div>
    </div>

</div>
